<appSettings>
	<add key="URL" value="http://challenge.publitas.com/qa.html"/>
	<add key="ImageNumbers" value="4"/>
	<add key="Image1Src" value="images/0.jpg"/>
	<add key="Image2Src" value="images/1.jpg"/>
	<add key="Image3Src" value="images/2.jpg"/>
	<add key="Image4Src" value="images/3.jpg"/>
</appSettings>